## Problem & its Solution

### PROBLEM:-My client named xyz own's a zostel business(Zostel is a place where backpackers can come and spend their time with other tourists and gain knowledge about cultures, different types of food and how to make friendship. This business was started with a vision to promote traveling as a way of life.) wants to expand the business in the  different neighbourhoods in the Delhi region based on the similar features of neighbourhood

### SOLUTION:-We have to divide the neighbourhoods into the clusters based on there surronding  available features

## Data  Set  Used  in Project

### For our data set we need the all the neighbourhood list along with the latitude and longitude of delhi region

In [4]:
import pandas as pd
import numpy as np

delhi_df=pd.read_csv("Downloads/datasetdelhi.csv")

In [8]:
delhi_df.head()

   Unnamed: 0           Borough  Neighborhood   latitude  longitude
0           0  North West Delhi  Adarsh Nagar  28.614192  77.071541
1           1  North West Delhi   Ashok Vihar  28.699453  77.184826
2           2  North West Delhi       Azadpur  28.707657  77.175547
3           3  North West Delhi        Bawana  28.799660  77.032885
4           4  North West Delhi     Begum Pur  28.727273  77.064045

In [10]:
delhi_df['Borough'].unique()

array(['North West Delhi', 'North Delhi', 'North East Delhi',
       'Central Delhi', 'New Delhi', 'East Delhi', 'South Delhi',
       'South West Delhi', 'West Delhi'], dtype=object)

In [11]:
delhi_df['Neighborhood'].count()

184